/* eliminate default margin and padding for every element*/


.theme-light{
  --black-color:#5b5e6b;
  --white-color: #ffffff;
  --font-color:#5b5e6b;
  --gradient: linear-gradient(to right, #ffffff,#808080,#000000);
}

.theme-dark{
  --black-color:#ffffff;
  --white-color: #5b5e6b;
  --font-color:#ffffff;
  --gradient: linear-gradient( to right,#000000,#808080,#ffffff);
}


body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  font-family: 'freight-text-pro', serif;
  background-color: var(--white-color);
}


/*-------------------------------------Menu Hamburger------------------------------------*/

/*styling menu*/
.container{
  width:100%;
  height:100px;
  position: relative;
}

/* stylingradient on top of the menu page*/
.grad{
  display: flex;
  position: absolute;
  top:40px;
  height:50px;
  /*changing the radial gradient to linear but in the center is still a radial shape*/
  width:100vw;
  background: var(--gradient);
}

.grad2{
  display: flex;
  position: absolute;
  top:40px;
  height:50px;
  /*changing the radial gradient to linear but in the center is still a radial shape*/
  width:100vw;
  background: var(--gradient);
}
/* styling the menu page (navbar)*/
.navbar{
  width:100vw;
  height:100%;
  /*
  background-color:white;*/
  background-color: var(--white-color);
  position: fixed;
  /*position -1000px so its hidden*/
  right:-2000px;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*when the page appears on click the transition is smoother and accelerate into the animation*/
  transition: right .8s ease-in;
  /*cover the page underneath3*/
  z-index: 1;
}

/*to display the menu page its position its change to 0*/
.change{
  right:0;
}


/*styling the hamburger menu*/
.hamburger-menu{
  width:35px;
  height:30px;
  /*position fixed on top right*/
  position:fixed;
  top:50px;
  /*place the hamburger at the top right corner*/
  right:50px;
  cursor:pointer;
  /*to separate the lines otherwise the would stock one on top of each other,
  using flexbox*/
  display: flex;
  flex-direction: column;
  /*making space around lines*/
  justify-content: space-around;

}

/*lines of ham menu*/
.line{
  /*take up the entire width of his parent element which is 35px*/
  width:100%;
  height:3px;
  background-color: var(--white-color);
  /*
  background-color: white;*/
  /*when change the line of hamb menu in x (all) take .8s so the effect is smoother*/
  transition: all .8s;
}

/*transforming the line when checked in X by rotating the z and translate it*/
.change .line-1{
  transform: rotateZ(-405deg) translate(-8px, 6px);

}

.change .line-2{
  opacity: 0;
}

.change .line-3{
  /*rotating line for one whole rotation by 360+45 degrees*/
  transform: rotateZ(405deg) translate(-8px, -6px);;
}

/*get rid of bullets and create space using margin*/
.nav-item{
  list-style: none;
  margin:100px;
}

/*get rid of the underlining and styling the text on menu page */
.nav-link{
  text-decoration: none;
  font-size: 400%;
  color:var(--font-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0px;
}

/*styling line under the text and transform then on hover with after and before pseudo element*/
.nav-link::before,
.nav-link::after{
  /*content empty*/
  content: '';
  width:100%;
  height:2px;
  background-color: var(--black-color);
  /*
  background-color: grey;
  /*display the lines assign position absolute to the line and relative to his parent*/
  position:absolute;
  /*align the line on top of the text to separate them a bottom position is assign after*/
  left:0;
  /*scale 0 in other word they are not visibile as their X is 0*/
  transform: scaleX(0);
  /*changing the duration when hover the scale is smoother*/
  transition: transform .5s;
}

/*separating the lines bottom and top and change their position when hover*/
.nav-link::after{
  bottom:0;
  transform-origin: right;
}

.nav-link::before{
  top:0;
  transform-origin: left;
}

/*changing the scale to 1 so they are visibile when hover*/
.nav-link:hover::before,
.nav-link:hover::after{
  transform: scaleX(1);
}


/*--------------------------------------homepage-----------------------------------------*/
/*styling image background slide-show*/
.slide-show{
  display:flex;
  height:100%;
  overflow: hidden;
}

#logo{
  position:absolute;
  top:0;
  height:50px;
  z-index: 1;
}

div.slide{
  width:100%;
  transition: .6s;
  display:flex;
}

div.slide img{
  width:100vw;
  height: 100vh;
  object-fit: cover;
}

input{
  position:absolute;
  display: none;
}

.slide h1{
  color: var(--white-color);
  /*
  color:white;*/
  position:absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  font-family: 'freight-text-pro';
  font-weight: 200;
  font-size: 400%;
}

.slide p{
  color: var(--white-color);
  /*
  color:white;*/
  position:absolute;
  top:60%;
  left:65%;
  transform: translate(-50%,-50%);
  font-family:  "HelveticaNeue-Light";
  font-weight: 200;
  font-size:150%;
}

/*css for manual slide navigation*/
.navigation-manual{
  display:flex;
  position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}

#manual-btn{
 border: 2px solid red;
 padding:5px;
 border-radius: 10px;
 cursor: pointer;
 transition: 1s;
}

#manual-btn:not(:last-child){
  margin-right: 40px;
}

#manual-btn:hover{
  background:red;
}



#radio1:checked~ .first{
  margin-left: 0;
}

#radio2:checked~.first{
  margin-left: -100%;
}

#radio3:checked~.first{
  margin-left: -200%;
}

#radio4:checked~.first{
  margin-left: -300%;
}

/*navigation auto*/
.navigation-auto{
  position:absolute;
  display:flex;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}

.navigation-auto div{
  border:2px solid red;
  padding:5px;
  border-radius: 10px;
  transition: .6;
}
.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked~ .navigation-auto .auto-btn1{
  background: red;
}

#radio2:checked~.navigation-auto .auto-btn2{
  background: red;
}

#radio3:checked~.navigation-auto .auto-btn3{
  background: red;
}

#radio4:checked~.navigation-auto .auto-btn4{
  background: red;
}

/*--------------------------------------homepage for desktop-----------------------------------------*/
@media (min-width:1025px){
  /* styling the menu page (navbar) desktop*/
  .navbar{
    width:50vw;
    height:100%;
    /*
    background-color:white;*/
    background-color: var(--white-color);
    position: fixed;
    /*position -1000px so its hidden*/
    right:-2000px;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*when the page appears on click the transition is smoother and accelerate into the animation*/
    transition: right .8s ease-in;
    /*cover the page underneath3*/
    z-index: 1;
  }

  .grad2{
    display: flex;
    position: absolute;
    top:40px;
    height:50px;
    /*changing the radial gradient to linear but in the center is still a radial shape*/
    width:50vw;
    background: var(--gradient);
  }

  .change{
    right:0;
  }

  .nav-link{
    text-decoration: none;
    font-size: 400%;
    color:var(--font-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0px;
  }

  .slide p{
    color: var(--white-color);
    /*
    color:white;*/
    position:absolute;
    top:65%;
    left:65%;
    transform: translate(-50%,-50%);
    font-family:  "HelveticaNeue-Light";
    font-weight: 200;
    font-size:150%;
  }

.opacity{
   opacity:0.5;
}

}
/*-----------------------------------styling the menu (navigation) page---------------------*/


.toggle_menu{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50%;
  left:45%;
  top:25%;
}

.toggle_menu2{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50%;
  left:45%;
  top:25%;
}
/*styling switch toggle */
#checkbox2 {
  display: none;
}

#checkbox2 {
  display: none;
}
/*styling the slider container at its origin*/
.moving {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  background-color:#5b5e6b;*/
  background-color: var(--black-color);
  transition: .4s;
  box-shadow: 0 0 0 0;
}

.moving2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  background-color:#5b5e6b;*/
  background-color: var(--black-color);
  transition: .4s;
  box-shadow: 0 0 0 0;
}
/*styling the toggle bottom of the slider giving it an height and width with the content be empty
at his origin*/
.moving:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  /*background-color: white;*/
  background-color: var(--white-color);
  transition: .4s;
}

.moving2:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  /*background-color: white;*/
  background-color: var(--white-color);
  transition: .4s;
}

/*when the input is checked change the background color of the entire slider to white*/
input:checked + .moving {
  /*background-color: white;*/
  background-color: var(--black-color);
}

/*when the input is checked changing the background color to gray and move its X to right*/
input:checked + .moving:before {
  transform: translateX(25px);
  background-color:var(--white-color);
}

input:checked + .moving2 {
  /*background-color: white;*/
  background-color: var(--black-color);
}

/*when the input is checked changing the background color to gray and move its X to right*/
input:checked + .moving2:before {
  transform: translateX(25px);
  background-color:var(--white-color);
}
/* Rounded sliders */
.moving.round {
  border-radius: 50px;
}

.moving.round:before {
  border-radius: 50%;
}

.moving2.round2 {
  border-radius: 50px;
}

.moving2.round2:before {
  border-radius: 50%;
}

/*----------------------black&white and colour page styling--------------------------------*/

.middle{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-weight: 200;
  font-size: 300%;
  margin:20px 0px 0px 20px;
  position:relative;
}

/*underscore line-- creating a line under the h1 on top, loading the animation with keyframe for both color and black and white page*/
.under_score, .under_score_color, .under_score_contact{
  width:4%;
  height:2px;
  background-color: var(--black-color);
  /*
  background-color: grey;
  /*display the lines assign position absolute to the line and relative to his parent*/
  position:absolute;
  /*align the line*/
  left:300px;
  /*calling the animation starting take 800ms, starting slow and speed up with the delay of 400ms before the animation starts*/
  animation: middle .8s ease-in 400ms;`
}

@keyframes middle {
  0%{
     transform: scale(0);
  }

  100%{
    transform:scale(1);
  }
}

/*changing the position of the under_score on the colour page*/
.under_score_color {
  left:150px;
}
/*changing the position of the under_score on the contact page*/
.under_score_contact{
 left:180px;
}

.text{
  color:var(--font-color);
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
  margin-left:15%;
}

/*style img on mobile screen */
.images img {
  display:flex;
  flex-direction: column;
  width:700px;
  max-width: 100%;
  height: auto;
  margin: 3% 0 0 15%;
  border-radius:10px;
  box-shadow: var(--black-color)  -20px 20px 15px ;
  cursor:pointer;
  transition: .3s all ease;
  animation: img-load .8s ease-in 300ms;
}


/*on load the page will translate from top*/

@keyframes img-load {
  0%{
     transform: translateY(-20px);
     opacity:0;
  }
}
100%{
  transform: translateY(0);
  opacity:1;

}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  color: var(--white-color);
  z-index: 1;
  overflow: auto;
  /*the opacity is set to 0 as the modal  will appear only when the user click on the image*/
  opacity: 0;
  pointer-events: none;
}

/*styling the div contaning the img so on click the modal content will take the entire height and will work as background of the image
to give more contrast*/
.modalContent {
  min-height: 100vh;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*styling the img inside the modal content set the width at 1090 for desktop*/
.modalImg {
  width: 100%;
  max-width: 1090px;
  border-radius: 5px;
  margin: 20px;
}

/*styling the text under the image inside the modal */
.modalTxt {
  margin-top: 1em;
  color:var(--white-color);
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
}

/*styling the position of the close span*/
.close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 3em;
  cursor: pointer;
}

/* when the user click the event addEventListener will add === run the appear class list where the opacity is set to 1 === visibile.*/
.modal.appear {
  opacity: 1;
  pointer-events: all;
}

/*when the modal content appear an animation will run to zoom in the img*/
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*------------------------styling black&White and Colour pages for desktop ---------------------*/

@media (min-width:1025px){
.images img {
display:flex;
width:100%;
min-width:300px;
margin: 50px 5px 0 5px;
}

.images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 0 1em;
}

.text{
  margin:20px 0 0 20px;
  padding:0;
}

}
/*-----------------------------------contact page------------*/
/*.container_contact{
  height:100%;
  width:100%;
  animation: move 0.8 ease-in 300ms;
}

@keyframe move {
0%{
  transform: translateY(-20px);
  opacity:0;
  }
}
100%{
  transform: translateY(0);
  opacity:1;
}*/
/*styling the form container on the left side of the page*/
.pinch{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 100%;
  text-align: center;
}
.form{
background-color: rgba(91, 94, 107, 0.3) ;
top:50px;
float:left;
width:45%;
height:500px;
}

.vidDown{
  padding:20px;
  float:right;
  width:50%;
}
/*style the text's form*/
#Fname,
#Lname,
#Email{
  display:flex;
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 100%;
  margin-left:20px;
  resize:horizontal;
}

#Fname{
  top:50px;
}
#addUser{
  display:flex;
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 100%;
  margin-left:100px;
  resize:horizontal;
}
/*styling the input form*/
#fname,
#lname,
#email{
  background-color: var(--white-color);
  display:flex;
  border:2px solid var(--black-color);
  border-radius:10px;
  width:22%;
  font-family:  "HelveticaNeue-Light";
  font-size: 100%;
  color:var(--white-color);
  margin-left:20px;
  resize:horizontal;
}

/*styling the input form on focus with the outline none to avoid the backgroundcolor blue*/
#fname:focus,
#lname:focus,
#email:focus{
  outline: none;
  background-color: rgba(91, 94, 107, 0.8) ;
  border:2px solid rgba(176, 176, 176,0.3);
}

textarea{
width:45%;
height:200px;
font-family: 'freight-text-pro';
font-size: 100%;
margin-left:20px;
border-radius:10px;
border:2px solid var(--black-color);
}

textarea:focus{
  color:var(--white-color);
  outline: none;
  background-color: rgba(91, 94, 107, 0.8) ;
  border:2px solid rgba(176, 176, 176,0.3);
}

.download{
  text-decoration:none;
  background-color: var(--black-color);
  border: none;
  border-radius:10px;
  margin:4% 1% 0 38%;
  padding:10px;
  height:55px;
  color:var(--white-color);
  box-shadow: var(--black-color)  -10px 10px 15px ;
  cursor: pointer;
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
}

.download:hover{
  background-color:var(--white-color);
  color:var(--black-color);
}

.video{
  border-radius:10px
  top:50px;
}

/*------------------------------------footer------------------*/
 footer{
   margin-top: 70px;
   border-top:4px solid var(--black-color);
   width:100%;
   display: flex;
   justify-content:space-around;
   align-items: center;
   animation: foot .8s ease-in 300ms;
 }

 @keyframes foot{
   0%{
      transform: translateY(20px);
      opacity:0;
   }
 }
 100%{
   transform: translateX(0);
   opacity:1;
 }

 .insta{
   flex:1;
   max-width:50px;
   width:100%;
 }


.yt{
  flex:1;
  display:flex;
  max-width:50px;
  width:100%;


}

#name {
  color:var(--font-color);
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
}

.cursor{
  width:3rem;
  height:3rem;
  border-radius:50%;
  border:2px solid var(--black-color);
  background-color: var(--white-color);
  /*eliminate the pointer events to none to avoid the div to cover the layer below and be clickable*/
  pointer-events:none;
  position: absolute;
  transform: translate(-50%,-50%);
}
