
/*declaring a name and value for the custom property inside the scope that are changing in js*/

/*creating 2 classes that containe all the colors for the dark and light theme tutorial
https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2*/
.theme-light{
  /*variable named black-color with a  value of a color*/
  --black-color:#5b5e6b;
  --white-color: #ffffff;
  --font-color:#5b5e6b;
  /*create a var for the gradient*/
  --gradient: linear-gradient(to right, #ffffff,#808080,#000000);
}

.theme-dark{
  --black-color:#ffffff;
  --white-color: #5b5e6b;
  --font-color:#ffffff;
  --gradient: linear-gradient( to right,#000000,#808080,#ffffff);
}


body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  font-family: 'freight-text-pro', serif;
  /*applied the custom property by calling the variable*/
  background-color: var(--white-color);
}


/*-------------------------------------Menu Hamburger------------------------------------*/

/*styling menu*/
.container{
  width:100%;
  height:100px;
  position: relative;
}


/* stylingradient on top of the menu page*/
.grad{
  display: flex;
  position: absolute;
  top:40px;
  height:70px;
  /*changing the radial gradient to linear but in the center is still a radial shape*/
  width:100vw;
  background: var(--gradient);
}

.grad2{
  display: flex;
  position: absolute;
  top:40px;
  height:70px;
  /*changing the radial gradient to linear but in the center is still a radial shape*/
  width:100vw;
  background: var(--gradient);
}
/* styling the menu page (navbar)*/
.navbar{
  /*setting the width and hieght to be the full page for mobile version*/
  width:100vw;
  height:100%;
  /*
  background-color:white;*/
  background-color: var(--white-color);
  position: fixed;
  /*position -1000px so its hidden*/
  right:-2000px;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*when the page appears on click the transition is smoother and accelerate into the animation*/
  transition: right .8s ease-in;
  /*goes over the other element*/
  z-index: 1;
}

/*to display the menu page its position its change to 0 otherwise would be off of the page -2000px*/
.change{
  right:0;
}


/*styling the hamburger menu*/
.hamburger-menu{
  width:45px;
  height:40px;
  /*position fixed on top right*/
  position:fixed;
  top:50px;
  /*place the hamburger at the top right corner*/
  right:50px;
  cursor:pointer;
  /*to separate the lines otherwise the would stock one on top of each other,
  using flexbox*/
  display: flex;
  flex-direction: column;
  /*making space around lines*/
  justify-content: space-around;
}

/*lines of ham menu*/
.line{
  /*take up the entire width of his parent element which is 45px*/
  width:100%;
  height:3px;
  background-color: var(--white-color);
  /*when change the line of hamb menu in x js---(all) the transition take .8s so the effect is smoother*/
  transition: all .8s;
}

/*transforming the line when checked in X by rotating the z and translate it so the lines look like an X*/
.change .line-1{
  /* instead to rotate only for 45 degrees rotate 360 + 45 = 405 so it does a whole rotation*/
  transform: rotateZ(-405deg) translate(-10px, 8px);
}

.change .line-2{
  opacity: 0;
}

.change .line-3{
  /*rotating line for one whole rotation by 360+45 degrees*/
  transform: rotateZ(405deg) translate(-10px, -8px);
}

/*get rid of bullets and create space using margin*/
.nav-item{
  list-style: none;
  margin:100px;
}

/*get rid of the underlining and styling the text on menu page */
.nav-link{
  text-decoration: none;
  font-size: 400%;
  color:var(--font-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0px;
}

/*styling line under the text and transform then on hover with after and before pseudo element*/
.nav-link::before,
.nav-link::after{
  /*content empty*/
  content: '';
  width:100%;
  height:2px;
  background-color: var(--black-color);
  /*display the lines assign position absolute to the line and relative to his parent*/
  position:absolute;
  /*align the line on top of the text to separate them a bottom position is assign after*/
  left:0;
  /*scale 0 in other word they are not visibile as their X is 0*/
  transform: scaleX(0);
  /*changing the duration when hover the scale is smoother*/
  transition: transform .5s;
}

/*separating the lines bottom and top and change their original position when hover so the after line is starting from right and the other from left*/
.nav-link::after{
  bottom:0;
  transform-origin: right;
}

.nav-link::before{
  top:0;
  transform-origin: left;
}

/*changing the scale to 1 so they are visibile when hover*/
.nav-link:hover::before,
.nav-link:hover::after{
  transform: scaleX(1);
}


/*--------------------------------------homepage-----------------------------------------*/
/*styling image background slide-show*/
.slide-show{
  display:flex;
  height:100%;
  overflow: hidden;
}

#logo{
  position:absolute;
  top:25px;
  height:50px;
  /*it remains on top of other object*/
  z-index: 1;
}

div.slide{
  width:100%;
  /*transition between images*/
  transition: .6s;
  display:flex;
}

div.slide img{
  width:100vw;
  height: 100vh;
  object-fit: cover;
}

input{
  position:absolute;
  display: none;
}

.slide h1{
  color: var(--white-color);
  /*
  color:white;*/
  position:absolute;
  top:55%;
  left:45%;
  transform: translate(-50%,-50%);
  font-family: 'freight-text-pro';
  font-weight: 200;
  font-size: 470%;
}

.slide p{
  color: var(--white-color);
  /*
  color:white;*/
  position:absolute;
  top:61%;
  left:49%;
  transform: translate(-50%,-50%);
  font-family:  "HelveticaNeue-Light";
  font-weight: 200;
  font-size:200%;
}

/*css for manual slide navigation
manual and automatic button navigation have
the same style as when the user click on one of the button
the img will change so first was styling the navigation-manual and copied its value to automatic*/
.navigation-manual{
  display:flex;
  position: absolute;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*creating the button since the display input is none we must make a button for the user to click*/
#manual-btn{
 border: 4px solid red;
 padding:5px;
 border-radius: 10px;
 cursor: pointer;
 transition: 1s;
}

/*changing the margin between  all manual buttons*/
#manual-btn:not(:last-child){
  margin-right: 60px;
}

#manual-btn:hover{
  background:red;
}


/*changing the img position with js everytime the counter goes up 1 it translate the img*/
#radio1:checked~ .first{
  margin-left: 0;
}

#radio2:checked~.first{
  margin-left: -100%;
}

#radio3:checked~.first{
  margin-left: -200%;
}

#radio4:checked~.first{
  margin-left: -300%;
}

/*navigation auto*/
.navigation-auto{
  position:absolute;
  display:flex;
  top:90%;
  left:50%;
  transform: translate(-50%,-50%);
}

.navigation-auto div{
  border:4px solid red;
  padding:5px;
  border-radius: 10px;
  transition: .6;
}
.navigation-auto div:not(:last-child){
  margin-right: 60px;
}

#radio1:checked~ .navigation-auto .auto-btn1{
  background: red;
}

#radio2:checked~.navigation-auto .auto-btn2{
  background: red;
}

#radio3:checked~.navigation-auto .auto-btn3{
  background: red;
}

#radio4:checked~.navigation-auto .auto-btn4{
  background: red;
}

/*--------------------------------------homepage for desktop-----------------------------------------*/
@media (min-width:1025px){
  /* styling the menu page (navbar) desktop*/
  .navbar{
    /*take half of the width*/
    width:50vw;
    height:100%;
    background-color: var(--white-color);
    position: fixed;
    /*position -1000px so its hidden*/
    right:-2000px;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*when the page appears on click the transition is smoother and accelerate into the animation*/
    transition: right .8s ease-in;
    /*cover the page underneath*/
    z-index: 1;
  }

  .grad2{
    display: flex;
    position: absolute;
    top:40px;
    height:70px;
    /*changing its width to 50*/
    width:50vw;
    background: var(--gradient);
  }

  .change{
    right:0;
  }

  .nav-link{
    text-decoration: none;
    /*changing thier font style to be smaller*/
    font-size: 200%;
    color:var(--font-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0px;
  }

  .slide p{
    color: var(--white-color);
    position:absolute;
    /*changing its position otherwise it would be on top of h1*/
    top:65%;
    left:65%;
    transform: translate(-50%,-50%);
    font-family:  "HelveticaNeue-Light";
    font-weight: 200;
    font-size:150%;
  }

/*when the navbar is toggle on the rest of the body change its opacity */
.opacity{
   opacity:0.1;
   transition: opacity .3s 200ms ease-in;
}

.opacity-switch{
   opacity:0;
   transition: opacity .3s 200ms ease-in;
}
}
/*-----------------------------------styling the menu (navigation) page---------------------*/


.toggle_menu{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 55%;
  left:45%;
  top:25%;
}

.toggle_menu2{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 55%;
  left:45%;
  top:25%;
}
/*styling switch toggle */
#checkbox2 {
  display: none;
}

#checkbox2 {
  display: none;
}
/*styling the slider container at its origin*/
.moving {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  background-color:#5b5e6b;*/
  background-color: var(--black-color);
  transition: .4s;
  box-shadow: 0 0 0 0;
}

.moving2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*
  background-color:#5b5e6b;*/
  background-color: var(--black-color);
  transition: .4s;
  box-shadow: 0 0 0 0;
}
/*styling the toggle bottom of the slider giving it an height and width with the content be empty
at his origin*/
.moving:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 24px;
  left: 4px;
  bottom: 5px;
  /*background-color: white;*/
  background-color: var(--white-color);
  transition: .4s;
}

.moving2:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 24px;
  left: 4px;
  bottom: 5px;
  /*background-color: white;*/
  background-color: var(--white-color);
  transition: .4s;
}

/*when the input is checked change the background color of the entire slider to white*/
input:checked + .moving {
  /*background-color: white;*/
  background-color: var(--black-color);
}

/*when the input is checked changing the background color to gray and move its horizontal to right*/
input:checked + .moving:before {
  transform: translateX(25px);
  background-color:var(--white-color);
}

input:checked + .moving2 {
  /*background-color: white;*/
  background-color: var(--black-color);
}

/*when the input is checked changing the background color to gray and move its X to right*/
input:checked + .moving2:before {
  transform: translateX(25px);
  background-color:var(--white-color);
}
/* Rounded sliders */
.moving.round {
  border-radius: 50px;
}

.moving.round:before {
  border-radius: 50%;
}

.moving2.round2 {
  border-radius: 50px;
}

.moving2.round2:before {
  border-radius: 50%;
}

/*----------------------black&white and colour page styling--------------------------------*/

/*styling h1*/
.middle{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-weight: 200;
  font-size: 300%;
  margin:20px 0px 0px 20px;
  position:relative;
}

/*underscore line-- creating a line under the h1 on top, loading the animation with keyframe for both color and black and white page and contact*/
.under_score, .under_score_color, .under_score_contact{
  width:4%;
  height:2px;
  background-color: var(--black-color);
  /*
  background-color: grey;
  /*display the lines assign position absolute to the line and relative to his parent*/
  position:absolute;
  /*align the line*/
  left:300px;
  /*calling the animation starting take 800ms, starting slow and speed up with the delay of 400ms before the animation starts*/
  animation: middle .8s ease-in 400ms;`
}

@keyframes middle {
  0%{
     transform: scale(0);
  }

  100%{
    transform:scale(1);
  }
}

/*changing the position of the under_score on the colour page*/
.under_score_color {
  left:150px;
}
/*changing the position of the under_score on the contact page*/
.under_score_contact{
 left:200px;
}

.img-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.text{
  color:var(--font-color);
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
  margin-left:15%;
}


/*style img on mobile screen */
.wrap img {
  width:700px;
  max-width: 100%;
  height: auto;
  margin: 3% 0 0 15%;
  border-radius:10px;
  box-shadow: var(--black-color)  -20px 20px 15px ;
  cursor:pointer;
  transition: .4s all ease;
  animation: img-load .9s ease-in;
}


/*on load the page will translate from top*/

@keyframes img-load {
  0%{
     transform: translateY(-20px);
     opacity:0;
  }
}
100%{
  transform: translateY(0);
  opacity:1;

}

.modal {
  position: fixed;
  /*cover the entire height*/
  height: 100%;
  width: 100%;
  /*start from top and left*/
  top: 0;
  left: 0;
  background-color: var(--white-color);
  color: var(--black-color);
  z-index: 1;
  overflow: auto;
  /*the opacity is set to 0 as the modal  will appear only when the user click on the image*/
  opacity: 0;
  pointer-events: none;
}

/*styling the div contaning the img so on click the modal content will take the entire height and will work as background of the image
to give more contrast*/
.modalContent {
  min-height: 100vh;
  height:100%;
  display: flex;
  /*the text will display under the image otherwise if i leave the display flex raw it will align close to the right of the img*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*styling the img inside the modal content set the width at max 900 px otherwise will go till the margin for desktop*/
.modalImg {
  width: 900px;
  max-width: 100%;
  border-radius: 5px;
  margin: 20px;
}

/*styling the text under the image inside the modal */
.modalTxt {
  margin-top: 1em;
  color:var(--black-color);
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
}

/*styling the position of the close span*/
.close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 3em;
  cursor: pointer;
}

/* when the user click the event addEventListener will add === run the appear class list where the opacity is set to 1 === visibile.*/
.modal.appear {
  opacity: 1;
  pointer-events: all;
}

/*when the modal content appear an animation will run to zoom in the img*/
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*------------------------styling black&White and Colour pages for desktop ---------------------*/
@media (min-width:1025px){
/*styling the container of the img*/
.img-container{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  }

/*styling the div cointaing the img */
.images{
  /*display as grid*/
  display: grid;
  /*make 3 different columns of 3 equal size*/
  grid-template-columns: repeat(3, 1fr);
  /*with a gap of 16 px*/
  grid-gap: 16px;
  /*and left the margin of 16 px between the element*/
  margin: 0 1em;
}

/*styling the img*/
.wrap img {
width:100%;
cursor:pointer;
margin: 20px 5px 0 5px;
transition: .3s all ease;
}

.text{
  display:none;
}

/* on hover scale the img*/
.wrap img:hover{
  transform:scale(0.9);
}

.modalImg{
  width: 1400px;
  max-width:100%;
}

}
/*-----------------------------------contact page------------*/
/*styling the h2 of the contact page 2 title*/
.pinch, .pinchM{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 200%;
  text-align: center;
  margin-top:100px;
}
/*styling the p text*/
.pinch-text{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 200%;
  text-align: justify;
  margin:100px 50px 100px 50px;
}
/*styling the form container*/
form{
background-color: var(--black-color) ;
float:left;
width:49%;
height:500px;
top:50px;
}

/*styling the video and download button container*/
.vidDown{
  float:right;
  width:50%;
  height:500px;
  background-color: var(--black-color);
}
/*style the text's form*/
#Fname,
#Lname,
#Email{
  display:flex;
  color:var(--white-color);
  font-family: 'freight-text-pro';
  font-size: 100%;
  margin-left:50px;
  resize:horizontal;
}

#Fname{
  top:50px;
}
#addUser{
  display:flex;
  background-color: var(--white-color);
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-size: 100%;
  margin:20px 0 20px 120px;
  resize:horizontal;
}
/*styling the input form*/
#fname,
#lname,
#email{
  background-color: var(--white-color);
  display:flex;
  border:2px solid var(--black-color);
  border-radius:10px;
  width:22%;
  font-family:  "HelveticaNeue-Light";
  font-size: 100%;
  color:var(--white-color);
  margin-left:50px;
  resize:horizontal;
}

/*styling the input form on focus with the outline none to avoid the backgroundcolor blue*/
#fname:focus,
#lname:focus,
#email:focus{
  outline: none;
  background-color: rgba(91, 94, 107, 0.8) ;
  border:2px solid rgba(176, 176, 176,0.3);
}

textarea{
background-color: var(--white-color);
width:45%;
height:200px;
font-family: 'freight-text-pro';
color:var(--font-color);
font-size: 100%;
margin-left:50px;
border-radius:10px;
border:2px solid var(--white-color);
}

textarea:focus{
  color:var(--white-color);
  outline: none;
  border:2px solid rgba(176, 176, 176,0.3);
}

.download{
  text-decoration:none;
  background-color: var(--black-color);
  border-radius:10px;
  margin:4% 1% 0 25%;
  padding:10px;
  height:55px;
  color:var(--white-color);
  box-shadow: var(--white-color)  -10px 10px 15px ;
  cursor: pointer;
  font-family:  "HelveticaNeue-Light";
  font-size: 150%;
}

.download:hover{
  background-color:var(--white-color);
  color:var(--black-color);
}

video{
  max-width:100%;
  width:420px;
  max-height:340px;
  border-radius:10px;
  margin:100px 20px 20px 20px;

}

/*styling the container of the form video and download bottom*/
.container_contact{
  animation: cont .8s ease-in;
  margin:0px 20px 0px 20px;
}

@keyframes cont{
  0%{
     transform: translateY(-20px);
     opacity:0;
  }
}
100%{
  transform: translateY(0);
  opacity:1;

}

/*-----contact for desktop-------*/
@media (min-width:1025px){
  video{
    max-width: 100%;
    width:600px;
    height:300px;
    margin: 20px 20px 20px 100px;
  }
}
/*thanks page-------------*/
/*styling the container of h1, h2 and img*/
.grazie{
  display:flex;
  padding:50px;
}
/*h1*/
.thanks{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-weight: 200;
  font-size: 600%;
  margin:500px 0px 0px 200px;
  position:absolute;
}
/*gif treat as img*/
.clap{
  max-width:100%;
  width:300px;
  top:550px;
  left:550px;
  position:absolute;

}
/*span that display the name js*/
#thank{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-weight: 600;
  font-size: 600%;
  top:800px;
  left:350px;
  position:absolute;
}
/*h2*/
.grazie2{
  color:var(--font-color);
  font-family: 'freight-text-pro';
  font-weight: 400;
  font-size: 400%;
  top:950px;
  left:250px;
  position:absolute;
}

/*----restyling thanks  page for desktop*/
@media (min-width:1025px){

  .thanks{
    color:var(--font-color);
    font-family: 'freight-text-pro';
    font-weight: 200;
    font-size: 600%;
    margin:350px 0px 0px 450px;
    position:absolute;
  }

  .clap{
    max-width:100%;
    width:500px;
    top:300px;
    left:850px;
    position:absolute;

  }

  #thank{
    color:var(--font-color);
    font-family: 'freight-text-pro';
    font-weight: 600;
    font-size: 600%;
    top:635px;
    left:600px;
    position:absolute;
  }

  .grazie2{
    color:var(--font-color);
    font-family: 'freight-text-pro';
    font-weight: 400;
    font-size: 400%;
    top:750px;
    left:750px;
    position:absolute;
  }

}

/*------------------------------------footer------------------*/
/*using flexbox ofr footer align item center flex*/
 footer{
   margin: 70px 0 20px 0;
   border-top:4px solid var(--black-color);
   width:100%;
   height:auto;
   display: flex;
   justify-content: center;
   animation: foot .8s ease-in;
 }
/*animation from top to bottom*/
 @keyframes foot{
   0%{
      transform: translateY(-10px);
      opacity:0;
   }
 }
 100%{
   transform: translateY(0);
   opacity:1;
 }

.insta{
margin:20px 30px 20px 0;
}

.insta:hover{
  opacity:0.5;
}

.yt{
  margin:20px 0 20px 20px;
}

.yt:hover{
opacity: 0.5;
}

/*styling the cursor only for desktop*/
@media (min-width:1025px){
.cursor{
  width:3rem;
  height:3rem;
  border:2px solid var(--black-color);
  /*make the border round*/
  border-radius:50%;
  background-color: var(--white-color);
  /*eliminate the pointer events to none to avoid the div to cover the layer below and be clickable*/
  pointer-events:none;
  /*position absolute as in js we transform the top and left px*/
  position: absolute;
  /*fixing the style as the cursor is not on the center when the mouse move*/
  transform: translate(-50%,-50%);
  /*goes always on top*/
  z-index:5;
}

/*see js for this class list on mouse over the link the background became trasparent so user can see what to click and the border scale up*/
.grow{
  transform:scale(2);
  background:none;
}

/*invert filter when mouse hover the images so it became black or white*/
.filter{
  filter: invert(100%);
}
}
/*-----------end css----*/
